version: '3.8'

services:
  apache:
    build:
      context: ./apache
    container_name: apachea2
    restart: unless-stopped
    ports:
      - "6002:80"
    depends_on:
      - python
    links:
      - python

  python:
    build: ./api
    container_name: pythona2
    restart: unless-stopped
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      PORT: ${PORT}
      HOST: ${HOST}
    depends_on:
      - mariadb

  mariadb:
    image: mariadb
    container_name: mariadba2
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mariadb-dataa2:/var/lib/mysql
      - ./Coches.sql:/docker-entrypoint-initdb.d/Coches.sql:ro

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmina2
    restart: unless-stopped
    environment:
      - PMA_HOST=mariadb
    ports:
      - 7002:80
    depends_on:
      - mariadb

volumes:
  mariadb-dataa2:
