version: '3.8'

services:
  apache:
    build:
      context: ./apache
    container_name: apachea2
    ports:
      - "6002:80"
    depends_on:
      - python

  python:
    build:
      context: ./api
    container_name: pythona2
    expose:
      - "8080"
    environment:
      - HOST=0.0.0.0
      - PORT=8080
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:10.11
    container_name: mariadba2
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: carshop
      MYSQL_USER: grupo2a
      MYSQL_PASSWORD: grupo2a
    volumes:
      - mariadb-dataa2:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:5.2
    container_name: phpmyadmina2
    restart: always
    ports:
      - "7002:80"
    environment:
      PMA_HOST: mariadb
      PMA_USER: grupo2a
      PMA_PASSWORD: grupo2a
    depends_on:
      - mariadb

volumes:
  mariadb-dataa2:
