version: '3.8'

services:
  apache:
    build:
      context: ./apache
    container_name: apachea2
    ports:
      - "9090:80"
    depends_on:
      - python
    links:
      - python

  python:
    build: ./api
    container_name: pythona2
    environment:
      DB_USERNAME: grupo2a
      DB_PASSWORD: grupo2a
      DB_DATABASE: ciber
      DB_HOST: mariadb
      DB_PORT: 3306
      PORT: 8080
      HOST: 0.0.0.0
    depends_on:
      - mariadb

  mariadb:
    image: mariadb
    container_name: mariadba2
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ciber
      MYSQL_USER: grupo2a
      MYSQL_PASSWORD: grupo2a
    volumes:
      - mariadb-dataa2:/var/lib/mysql
      - ./Coches.sql:/docker-entrypoint-initdb.d/Coches.sql:ro

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      - PMA_HOST=mariadb
    ports:
      - 9093:80
    depends_on:
      - mariadb

volumes:
  mariadb-dataa2:
