apiVersion: v1
kind: PersistentVolume
metadata:
  name: grupoa2-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /mnt/data/grupoa2

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grupoa2-pvc
  namespace: cibera2
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 1Gi
